In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("./row_review_data/naver_blogs_detail_0_A.csv",header=None)

In [7]:
df.head(1)

           0                                                  1
0  섭생정식 창동본점  창동이마트 근처에 부모님 모시고 가기 아주 좋은 식당이 있어 소개해드리려고 합니다~...

In [8]:
df.columns = ["res_name","Content"]

In [9]:
df.head(1)

    res_name                                            Content
0  섭생정식 창동본점  창동이마트 근처에 부모님 모시고 가기 아주 좋은 식당이 있어 소개해드리려고 합니다~...

In [12]:
df.to_csv("./row_review_data/naver_blogs_detail_0_A_ChangeHeader.csv",encoding="utf-8")